#intro{
    width: 100%;
    padding: 0px 0px 140px;

    .intro__wrapper{
        display: flex;
        align-items: start;
        gap: 61px;


        &--left{
            padding-top: 40px;
            padding-right: 16px;
            border-right: 1px solid #a2a1a1;

            &--titil{
                list-style: none;
                
                &--list{
                    width: 217px;
                    display: flex;
                    align-items: start;
                    justify-content: space-between;
                    margin-bottom: 16px;

                    p{
                        color: #000;
                        text-align: center;
                        font-family: Poppins;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
        }

        &--righ{
            padding-top: 40px;
            .swiper {
                width: 870px;
                height: 344px;
              }
          
              .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #000000;
                display: flex;
                align-items: center;

                &--wrapper{
                    display: flex;
                    align-items: center;
                    gap: 38px;
                    padding-left: 64px;

                    &--left{

                        &--top{
                            display: flex;
                            align-items: center;
                            gap: 24px;

                            p{
                                color: var(--Text, #FAFAFA);
                                text-align: center;
                                font-family: Poppins;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                            }
                        }

                        h1{
                            width: 294px;
                            color:  #FAFAFA;
                            font-family: Inter;
                            text-align: start;
                            font-size: 44px;
                            font-weight: 600;
                            line-height: 60px; 
                            letter-spacing: 1.92px;
                        }

                        &--botton{
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            p{
                                color: var(--Text, #FAFAFA);
                                text-align: center;
                                font-family: Poppins;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 24px;
                                padding-bottom: 4px;
                                border-bottom: 1px solid #FAFAFA;
                            }
                        }
                    }
                }
              }
          
              
        }
    }
}