#featured{
    width: 100%;

    .featured__wrapper{
        width: 100%;

        &--top{
            margin-bottom: 60px;
            p{
                display: flex;
                align-items: center;
                gap: 16px;
                color: #DB4444;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                margin-bottom: 20px;
    
                span{
                    width: 20px;
                    height: 40px;
                    background: #DB4444;
                    border-radius: 3px;
                }
            }
    
            h1{
                color: #000;
                font-family: Inter;
                font-size: 36px;
                font-weight: 600;
                line-height: 48px; 
                letter-spacing: 1.44px;
                margin: 0;
            }
        }
         
        &--botton{
            display: grid;
            grid-template-columns: repeat(4,auto);
            grid-template-rows: repeat(2,auto);
            gap: 30px;

            &--card1{
                background: #000;
                position: relative;
                grid-column: 1/3;
                grid-row: 1/3;
                width: 570px;
                height: 600px;
                border-radius: 4px;

                &-titil{
                    position: absolute;
                    bottom: 32px;
                    left: 32px;
                    z-index: 10;

                    h1{
                        color: #FAFAFA ;
                        font-family: Inter;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px; 
                        letter-spacing: 0.72px;
                    }

                    p{
                        width: 242px;
                        color: var(--Text, #FAFAFA);
                        font-family: Poppins;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                    }
                    h2{
                        display: inline-block;
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        border-bottom: 0.2px solid #828282; 
                    }
                }

                &--img{
                    position: absolute;
                    bottom: -7px;
                }
            }

            &--card2{
                background: #000;
                position: relative;
                grid-column: 3/5;
                grid-row: 1/2;
                width: 570px;
                height: 284px;
                border-radius: 4px;

                &-titil{
                    position: absolute;
                    bottom: 32px;
                    left: 32px;
                    z-index: 10;

                    h1{
                        color: #FAFAFA ;
                        font-family: Inter;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px; 
                        letter-spacing: 0.72px;
                    }

                    p{
                        width: 242px;
                        color: var(--Text, #FAFAFA);
                        font-family: Poppins;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                    }
                    h2{
                        display: inline-block;
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        border-bottom: 0.2px solid #828282; 
                    }
                }

                &--img{
                    position: absolute;
                    bottom: -7px;
                    right: 0;
                }
            }

            &--card3{
                background: #000;
                position: relative;
                grid-column: 3/4;
                grid-row: 2/3;
                width: 270px;
                height: 284px;
                border-radius: 4px;

                &-titil{
                    position: absolute;
                    bottom: 32px;
                    left: 32px;
                    z-index: 10;

                    h1{
                        color: #FAFAFA ;
                        font-family: Inter;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px; 
                        letter-spacing: 0.72px;
                    }

                    p{
                        width: 242px;
                        color: var(--Text, #FAFAFA);
                        font-family: Poppins;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                    }
                    h2{
                        display: inline-block;
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        border-bottom: 0.2px solid #828282; 
                    }
                }

                &--img{
                    position: absolute;
                    top: 31px;
                    left: 40px;
                    z-index: 5;
                }

                &--radus{
                    width: 208px;
                    height: 208px;
                    flex-shrink: 0;
                    background: rgba(217, 217, 217, 0.90);
                    filter: blur(150px);
                    z-index: 0;
                    background-repeat: 50%;
                }


            }
            &--card4{
                background: #000;
                position: relative;
                grid-column: 4/5;
                grid-row: 2/3;
                width: 270px;
                height: 284px;
                border-radius: 4px;

                &-titil{
                    position: absolute;
                    bottom: 32px;
                    left: 32px;
                    z-index: 10;

                    h1{
                        color: #FAFAFA ;
                        font-family: Inter;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px; 
                        letter-spacing: 0.72px;
                    }

                    p{
                        width: 242px;
                        color: var(--Text, #FAFAFA);
                        font-family: Poppins;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                    }
                    h2{
                        display: inline-block;
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        border-bottom: 0.2px solid #828282; 
                    }
                }

                &--img{
                    position: absolute;
                    top: 31px;
                    left: 40px;
                    z-index: 5;
                }

                &--radus{
                    width: 208px;
                    height: 208px;
                    flex-shrink: 0;
                    background: rgba(217, 217, 217, 0.90);
                    filter: blur(150px);
                    z-index: 0;
                    background-repeat: 50%;
                }
            }

        }

    }
}