#login__intro{
    width: 100%;
    margin-top: 275px;
    padding-bottom: 140px;

    .login--intro--wrapper{
        display: flex;
        align-items: center;
        justify-content: center;

        &--left{
            position: relative;
            left: -129px;
        }

        &--right{

            h1{
                width: 371px;
                color: var(--Text2, #000);
                font-family: Inter;
                font-size: 36px;
                font-weight: 500;
                line-height: 30px; 
                letter-spacing: 1.44px;
            }

            p{
                color: var(--Text2, #000);
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 48px;
            }

            form{
                input{
                    display: block;
                    width: 370px;
                    height: 40px;
                    margin-bottom: 40px;
                    padding: 4px  ;
                    border: none;
                    border-bottom: 1px solid #807f7f;
                }

                div{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button{
                        @extend %btn;
                    }

                    p{
                        color: #DB4444;
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}